<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
	 
	<http auto-config="true" >
		<intercept-url pattern="/hr/**" access="ROLE_HR" />
		<intercept-url pattern="/employee/**" access="ROLE_EMPLOYEE" />
		<intercept-url pattern="/manager/**" access="ROLE_MANAGER" />
		<form-login login-page="/login" default-target-url="/employee" authentication-failure-url="/login?error=failed" always-use-default-target='true'/>
		<logout logout-success-url="/" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="hibernateUserDetailsServiceImpl">
   			<password-encoder hash="sha"/>
  		</authentication-provider>
  	</authentication-manager>
</beans:beans>